

@font-face {
    font-family:'minecraft';
    src: url('MinecraftTen-VGORe.ttf');
}
:root{
    --backgroundcolor-right-header: white;
    --backgroundcolor-left-header:#252424;
    --color-right-header: #252424;
    --color-left-header:white;
}
/*HEADER STYLE*/
body{
    background: var(--color-right-header);
    overflow-x: hidden;
}
.container-header{
    overflow: hidden;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: inicio 2s 1;
    height: auto;
}
.title{
    font-family:'minecraft','raleway';
    font-size: 10vh;
}
.first-part{
    color: var(--color-left-header);
}
.second-part{
    color: var(--color-right-header);
}

/*Header BOXES*/
.headerboxes{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-box{
    justify-content: flex-end;
    background: var(--backgroundcolor-left-header);
    float: right;
}
.right-box{
    justify-content: flex-start;
    background:var(--backgroundcolor-right-header);
    float: left;
}

/*Boton lemon pie*/
.container{
    display:flex;
    justify-content: center;
    margin: 3vh;
    height: auto;
    background: white;
    justify-content: flex-start;
    align-items: center;
    border-style: double;
    border-color: var(--color-right-header);
    border-width: 10px;
    animation: contenedor-animation 1s 1;
}
.container:hover{
    transform: scale(1.01);
    background: rgba(235, 233, 233, 0.96);
    transition-duration: 100ms;
}
i{
    position:relative;
    margin:10px; 
    font-size: 20vh;
    color: var(--color-right-header);
    float: right;
    animation: icono 1s 1;
    opacity: 1;
    transform: translate(40%);
}
.boton-enlace{
    position: relative;
    visibility:visible;
    float: left;
    animation: lemon-pie 5s 1;
    text-decoration: none;
    font-family: 'minecraft';
    font-size: 9vh;
    color: var(--color-right-header);
    z-index: 3;
    transform: translate(20%);
    opacity: 1;
}
@keyframes lemon-pie{
    0%{opacity: 0;transform: translate(-50%)}
    20%{opacity: 1;transform: translate(40%)}
    80%{opacity: 1;transform: translate(20%)}
}
@keyframes icono{
    0%{opacity: 0;transform: translate(-150%) rotate(0deg)}
    10%{opacity: 0;transform: translate(-150%) rotate(360deg)}
}
@keyframes inicio{
    0%{transform:translate(-150%)}
}
@keyframes contenedor-animation{
    0%{transform: translate(400px)}
}