@import '_variables';


.header{

    &-nav{

        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;

        h1{
            font-size: 2em;
        }

        ul{
            
            display: flex;
            list-style:none;
            flex-wrap: wrap;
            gap: 20px;
            font-size: 1.2em;

        }
    }

    &-main{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        .text{
            width: 50%;
            h1{
                text-align: left;
                font-size:5em;
                margin: 0 0 5vw;
            }
        }
        .img{
            width:50%;
            
        }
    }
}

@media screen and (max-width:650px){
    .header-nav{
        justify-content:center;
        nav{
            display: none;
        }
    }
}